body {
  font-family: "Ubuntu" !important;
}

.active {
  color: red !important;
}

.dark-mode {
  background: #1d1c19;
  color: #fff;
  transition: all linear 1.8s;
  --cardBg: #282828 !important;
  --card-color: #fffddd;
  --search-bg: #000;
  --search-color: #fff;
  --sort-bg: #000;
  --sort-color: #fff;
  --navbar-bg: #000 !important;
  --navbar-color: #ffff;
}

.light-mode {
  background: #fff;
  color: #000;
  transition: all linear 1.8s;
  --cardBg: #fff;
  --card-color: #000;
  --search-bg: #fff;
  --search-color: #000;
  --sort-bg: #fff;
  --sort-color: #000;
  --navbar-bg: #fff !important;
  --navbar-color: #000;
}
/* products cards */
.card {
  background: var(--cardBg) !important;
  color: var(--card-color) !important;
}
.card:hover {
  /* transition: all linear 0.8s; */
  border: 2px solid rgb(0, 65, 90);
  cursor: pointer;
}

.card-skeleton {
  width: 150px;
  height: 200px;
  padding: 1rem;
}
/* search components */
.form-control {
  background: var(--search-bg) !important;
  color: var(--search-color) !important;
}
::placeholder {
  color: var(--search-color) !important;
}
/* sort components */
.form-select {
  background: var(--sort-bg) !important;
  color: var(--sort-color) !important;
}
